@model PizzaFormModel

<div class="mb-3">
    <label asp-for="Pizza.Name" class="form-label">Name *</label>
    <input type="text" class="form-control" asp-for="Pizza.Name">
    <span class="invalid-feedback d-inline" asp-validation-for="Pizza.Name"></span>
    <span class="invalid-feedback d-inline" asp-validation-for="Pizza.Slug"></span>
</div>
<div class="mb-3">
    <label asp-for="Pizza.Price" class="form-label">Price *</label>
    <input type="number" step="0.01" class="form-control" asp-for="Pizza.Price">
    <span class="invalid-feedback d-inline" asp-validation-for="Pizza.Price"></span>
</div>
@if (Model.Categories is not null)
{
    <div class="mb-3">
        <label asp-for="Pizza.CategoryId" class="form-label">Category</label>
        <select asp-for="Pizza.CategoryId" class="w-100 form-select">
            <option value="">Choose a category</option>
            @foreach (Category category in Model.Categories)
            {
                <option selected="@(Model.Pizza.CategoryId == category.CategoryId)" value="@category.CategoryId"> @category.Name </option>
            }
        </select>
    </div>
}
@if (Model.Ingredients is not null)
{
    <div class="mb-3">
        <label asp-for="SelectedIngredientsId" class="mb-1"> Ingredients:</label>
        <input type="text" class="form-control w-100 mb-2" id="ingredients-filter-input" placeholder="Filter ingredients...">
        <select class="w-100 form-select" asp-for="SelectedIngredientsId" multiple="true" size="5" asp-items="@Model.Ingredients"></select>

    </div>
}
<div class="mb-3">
    <label asp-for="Pizza.Description" class="form-label">Description *</label>
    <textarea class="form-control" asp-for="Pizza.Description" rows="3" placeholder="Write a pizza description..."></textarea>
    <span class="invalid-feedback d-inline" asp-validation-for="Pizza.Description"></span>
</div>
<div class="mb-3">
    <label asp-for="Pizza.ImgPath" class="form-label">Image Path</label>
    <input type="text" class="form-control" asp-for="Pizza.ImgPath">
    <span class="invalid-feedback d-inline" asp-validation-for="Pizza.ImgPath"></span>
</div>
