@{
    Layout = "Guest/_Layout";
    ViewData["Title"] = "Home page";
}

<section id="banner-section">
	<div class="container d-lg-flex align-items-center">
		<div class="img-container text-center">
			<img class="img-fluid" src="~/img/logoSeaShark.png" />
		</div>
		<div>
			<h1 class="display-1 text-center"> Are you <br /> <span class="highlighted-word">hungry</span> ?</h1>
		</div>
	</div>
</section>

<section id="order-section" class="order-bg">
	<div class="order-top"><img class="w-100" src="~/img/section-top.png" alt="layer"></div>
	<div class="container py-3">
		<div class="row text-center">
			<div class="col-xl-4 col-lg-4 col-md-4">
				<div class="img-container rounded-circle ratio ratio-1x1 mx-auto">
					<img src="~/img/order-1.svg" alt="order" class="img-fluid">
				</div>
				<h2 class="fs-3 my-2 text-uppercase">order your Food</h2>
				<p class="order-des">
					Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-
				</p>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4">
				<div class="img-container rounded-circle ratio ratio-1x1 mx-auto">
					<img src="~/img/order-2.svg" alt="delivery" class="img-fluid">
				</div>
				<h2 class="fs-3 my-2 text-uppercase">delivery or pick up</h2>
				<p class="order-des">
					Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-
				</p>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4">
				<div class="img-container rounded-circle ratio ratio-1x1 mx-auto">
					<img src="~/img/order-3.svg" alt="delicious" class="img-fluid">
				</div>
				<h2 class="fs-3 my-2 text-uppercase">delicious receipe</h2>
				<p class="order-des">
					Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-Lorem ipsum dolor sit amet, consectetur
					adipisicing elit, sed do eius-
				</p>
			</div>
		</div>
	</div>
	<div class="order-bottom"><img class="w-100 d-block" src="~/img/section-bottom.png" alt="layer"></div>
</section>

<section id="our-pizzas">
	<div class="container py-3">
		<h2 class="display-3 text-center my-3">Our <span class="highlighted-word">special</span> pizzas</h2>
		
		<div id="our-pizzas-data">
			<div class="loader text-center">
				<span class="spinner-border" role="status"></span>
				<p>Looking for yummy pizzas...</p>
			</div>
			<div class="empty-data-list d-none text-center">
				<p class="fs-4">No pizzas found! <span class="fs-2 fw-bold"> :( </span></p>
			</div>
			<div class="data-list row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 d-none">

			</div>
		</div>
	</div>
</section>

<section id="search-pizzas">
	<div class="container py-3">
		<h2 class="display-3 text-center my-3"> Missing your favourite? <span class="highlighted-word">search</span> it!</h2>
		<div class="input-group mb-3">
		  <span class="input-group-text" id="pizzaSearch">Search Pizza</span>
		  <input id="pizzaSearchInput" type="text" class="form-control" placeholder="write your favourite pizza name..." aria-label="pizzaSearchbar" aria-describedby="pizzaSearch">
		</div>
		<div id="search-pizzas-data">
			<div class="loader text-center d-none">
				<span class="spinner-border" role="status"></span>
				<p>Looking for yummy pizzas...</p>
			</div>
			<div class="empty-data-list d-none text-center">
				<p class="fs-4">No pizzas found! <span class="fs-2 fw-bold"> :( </span></p>
			</div>
			<div class="data-list row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 d-none">
			</div>
		</div>
	</div>
</section>

<section id="create-pizzas">
	<div class="container py-3 text-center">
		<h2 class="display-3 text-center my-3"> Still missing? <span class="highlighted-word">create</span> it!</h2>

		<button id="create-pizza-btn" class="btn btn-primary px-5 py-2">Create a Pizza</button>
	</div>
</section>

<div id="manipulate-pizza-data" class="container position-fixed d-none top-50 start-50 translate-middle bg-white rounded-2 border p-3 shadow">
	<h2 class="display-3 text-center my-3"> Your <span class="highlighted-word">customized</span> pizza!</h2>
	<div class="loader text-center d-none">
		<span class="spinner-border" role="status"></span>
		<p> Please wait...</p>
	</div>
	<div class="error-data d-none text-center">
		<p class="fs-4"></p>
	</div>
	<div class="data-list">
		<div class="input-group mb-3">
			<span class="input-group-text"> Name </span>
			<input type="text" class="form-control" id="name">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text"> Price </span>
			<input type="number" step="0.01" class="form-control" id="price">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text"> Image Path </span>
			<input type="number" step="0.01" class="form-control" id="imgPath">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Write a description...</span>
			<textarea class="form-control" id="description"></textarea>
		</div>
		<button class="btn btn-primary submit-btn">Submit</button>
	</div>
</div>
@section Scripts {
	<script src="~/js/home.js" asp-append-version="true"></script>
}